# Python Data Structure

1. What are data structures, and why are they important

   - Data structure is a way of storing data so that it can be accessed or manipulated efficiently.

2. Explain the difference between mutable and immutable data types with examples?
   - **Mutable Data Types:** Mutable data types are the data types whose values can be changed after the declaration. In Python, list and dictionary are mutable data types.
   Example: `list1 = [2, 3, 6, 8, 10] list1[1] = 4` this code will execute successfully and the updated list will be [2, 4, 6, 8, 10]

  - **Immutable Data Types:** Immutable data types are the data types whose values cannot be changed after the declaration. In Python, tuple and string are immutable data types.
  Example: `tuple1 = (2, 3, 6, 8, 10) tuple1[1] = 4` this code will throw the error because tuple is immutable.

3.  What are the main differences between lists and tuples in Python?
   - The main difference between lists and tuples is that lists are mutable and tuples are immutable.

4. Describe how dictionaries store data.
   - Dictionaries store data in the form of key-value pairs. Example:

    ```dic1 = {"name": "Devendra", "age": 32, "gender": "Male"}```

5. Why might you use a set instead of a list in Python
   - In Python, sets are unordered collections of unique elements. So whenever you need to create a collection of unique elements and order does not matter to you, you should use sets.

6. What is a string in Python, and how is it different from a list?
   - In Python, a string is a set of characters. Example: `name = "Devendra"`
It is totally different from a list because a list can contain values of different data types, such as
`list1 = [1, "Devendra", 2.4, 2+5j]`

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python mainly because they are immutable — once created, their contents cannot be changed, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores data in key-value pairs and uses a hash function to quickly map each key to its location in memory. In Python, only dictionaries are the data type that store data in key-value pairs, so hash tables relate to dictionaries in Python.

9. Can lists contain different data types in Python?
   - Yes, Lists contain different data types in python. For Example: `list1 = [10, "Rajput", 4.4, 2+8j]`

10. Explain why strings are immutable in Python?
   - Strings are immutable because once a string is created, it cannot be changed in place.

11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries access values using keys. To access a value in a list, you have to iterate through each element unless you know the index of the value. For example:
   ```
    list1 = ["Devendra", 32, "Male"]
    print("Devendra" in list1) // O(n)
    dic1 = ["name": "Devendra", "age": 32, "gender": "Male"]
    print(dic["name"]) // O(1)
   ```

12. Describe a scenario where using a tuple would be preferable over a list?
   - As you know, tuples are immutable and their values cannot be changed. So whenever you know that the data in a collection should not change, you should use a tuple.
   Scenario: Geographic Coordinates
   `red_fort_coordinates = (28.6562, 77.2410)`

13. How do sets handle duplicate values in Python?
   - In Python, sets remove duplicate values automatically. Whenever you try to insert a value into a set, it checks whether the value already exists. If it exists, the value is ignored; otherwise, it is inserted.

14. How does the “in” keyword work differently for lists and dictionaries?
   - In the case of lists, the “in” keyword matches the values of the list, whereas in the case of dictionaries, the “in” keyword matches the keys of the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?
   - No, we cannot modify the elements of a tuple because in Python, tuples are immutable. Tuples are designed to store only unchangeable data.

16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary in Python is a dictionary inside another dictionary.
   Use Case: Storing student records with personal details and subject grades.
   ```
   nested_dict = {
        "student1": {
            "name": "Alice",
            "age": 20,
            "grades": {"math": 90, "science": 85}
        },
        "student2": {
            "name": "Bob",
            "age": 22,
            "grades": {"math": 75, "science": 80}
        }
    }
    ```

17. Describe the time complexity of accessing elements in a dictionary?
   - Time complexity of accessing elements in a dictionary is O(1) because we know the key of that value in the dictionary, so we do not need to iterate through each element. For example:
   ```
    dic1 = ["name": "Devendra", "age": 32, "gender": "Male"]
    print(dic["age"]) // O(1)
   ```

18. In what situations are lists preferred over dictionaries?
   - Lists are preferred over dictionaries when you care about order, allow duplicates, and do not need key-value pairs. For example:
   ```
    over_score = [0, 2, 0, 4, 4, 6]
   ```

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - In dictionaries, keys are stored at positions determined by their hash values, not by the order in which you insert them. This helps dictionaries retrieve data quickly without iteration.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
   - In the case of lists, we retrieve data using the index, whereas in the case of dictionaries, we retrieve data using the key.
   For Example:
   ```
   lsit1 = [2, 4, 6, 8, 10]
   list1[0]
   # Output: 2
   dic1 = {"name": "Devendra", "age": 32, "gender": "Male"}
   dic1["age"]
   # Output: 32
   ```

# Practical Questions

In [8]:
# Q-1. Write a code to create a string with your name and print it.

name = "Devendra Kumar"
print(name)

Devendra Kumar

In [9]:
# Q-2. Write a code to find the length of the string "Hello World".

string1 = "Hello World"
print(f"The length of string is: {len(string1)}")

The length of string is: 11

In [12]:
# Q-3. Write a code to slice the first 3 characters from the string "Python Programming".

string2 = "Python Programming"
string2[0:3]

'Pyt'

In [11]:
# Q-4. Write a code to convert the string "hello" to uppercase.

string3 = "hello"
string3.upper()

'HELLO'

In [15]:
# Q-5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

string4 = "I like apple"
string4.replace("apple", "orange");
print(string4)

I like apple

In [16]:
# Q-6. Write a code to create a list with numbers 1 to 5 and print it.

list1 = [1, 2, 3, 4, 5]
print(list1)

[1, 2, 3, 4, 5]

In [18]:
# Q-7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list2 = [1, 2, 3, 4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [19]:
# Q-8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list3 = [1, 2, 3, 4, 5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [20]:
# Q-9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list4 = ['a', 'b', 'c', 'd']
print(list4[1])

b

In [21]:
# Q-10. Write a code to reverse the list [10, 20, 30, 40, 50].

list5 = [10, 20, 30, 40, 50]
list5[::-1]

[50, 40, 30, 20, 10]

In [22]:
# Q-11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [26]:
# Q-12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple2 = ('red', 'green', 'blue', 'yellow')
tuple2[1:]

('green', 'blue', 'yellow')

In [28]:
# Q-13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple3 = (10, 20, 5, 15)
min(tuple3)

5

In [29]:
# Q-14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple4 = ('dog', 'cat', 'rabbit')
tuple4.index('cat')

1

In [30]:
# Q-15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "mango", "kiwi", "orange")
"kiwi" in fruits

True

In [31]:
# Q-16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1 = {'a', 'b', 'c'}
print(set1)

{'b', 'c', 'a'}

In [33]:
# Q-17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [34]:
# Q-18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set2 = {1, 2, 3, 4}
set2.remove(4)
print(set2)

{1, 2, 3}

In [35]:
# Q-19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set3 = {1, 2, 3}
set4 = {3, 4, 5}
set3 | set4

{1, 2, 3, 4, 5}

In [39]:
# Q-20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set5 = {1, 2, 3}
set6 = {2, 3, 4}
set5 & set6

{2, 3}

In [41]:
# Q-21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dic1 = {"name": "Devendra", "age": 32, "city": "Chandigarh"}
print(dic1)

{'name': 'Devendra', 'age': 32, 'city': 'Chandigarh'}

In [42]:
# Q-22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dic2 = {'name': 'John', 'age': 25}
dic2['country'] = "USA"
print(dic2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [43]:
# Q-23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dic3 = {'name': 'Alice', 'age': 30}
print(dic3["name"])

Alice

In [47]:
# Q-24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dic4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic4.pop('age')
print(dic4)

{'name': 'Bob', 'city': 'New York'}

In [48]:
# Q-25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dic5 = {'name': 'Alice', 'city': 'Paris'}
'city' in dic5

True

In [50]:
# Q-26. Write a code to create a list, a tuple, and a dictionary, and print them all.

fruit_list = ["Apple", "Banana", "Mango"]
score_tuple = (3, 2, 4, 4, 0, 6)
info_dic = {"name": "Devendra", "age": 32, "city": "Chandigarh"}

print(f"List: {fruit_list}")
print(f"Tuple: {score_tuple}")
print(f"Dictionary: {info_dic}")

List: ['Apple', 'Banana', 'Mango']
Tuple: (3, 2, 4, 4, 0, 6)
Dictionary: {'name': 'Devendra', 'age': 32, 'city': 'Chandigarh'}

In [53]:
# Q-27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

number_list = [34, 23, 17, 56, 11]
number_list.sort()
print(number_list)

[11, 17, 23, 34, 56]

In [55]:
# Q-28. Write a code to create a list with strings and print the element at the third index.

strings_list = ["Chandigarh", "Delhi", "Mumbai", "Indore", "Pune"]
print(strings_list[3])

Indore

In [58]:
# Q-29. Write a code to combine two dictionaries into one and print the result.

dic6 = {"name": "Devendra", "age": 32}
dic7 = {"city": "Chandigarh", "gender": "Male"}
dic6.update(dic7)
print(dic6)

{'name': 'Devendra', 'age': 32, 'city': 'Chandigarh', 'gender': 'Male'}

In [59]:
# Q-30. Write a code to convert a list of strings into a set.

test_list = ["Chandigarh", "Delhi", "Mumbai", "Indore", "Pune"]
set(test_list)

{'Chandigarh', 'Delhi', 'Indore', 'Mumbai', 'Pune'}